@charset "utf8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html,
body {
    min-height: 100vh;
    width: 100%;
    font-family: "formula1";
    background-color: #060709;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    font-family: "formula1";
    width: 100%;
    background-color: rgb(13, 16, 23);
    color: rgb(231, 231, 231);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    h1 {
        font-size: 2.2em;
        width: 500px;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 2px;
        lower {
            font-size: 0.7em;
        }

        span.f1-title {
            color: #ee0000;
        }

        span > span.f1-title {
            margin-right: 5px;
        }
    }
    h1:hover {
        color: rgba(231, 231, 231, 0.705);
        cursor: pointer;
    }
    nav {
        font-weight: bold;
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;
        > div {
            z-index: 1;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 250px;
        }

        .back-title.active::before {
            transition: position 0.1s ease-out;
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 2.5px;
            bottom: 0;
            left: 0;
            background-color: rgb(231, 231, 231);
            transition: height 0.2s ease-out;
            text-decoration: none;
        }

        .back-title {
            transition: opacity 0.1s ease-out;
            position: absolute;
            opacity: 0;
            z-index: 0;
            /* height: 40px; */
            height: 0;
            width: 250px;
            background-image: linear-gradient(to top, #ee0000, #ee0000, #9d0000, transparent);
            border-radius: 10px 10px 0px 0px;
            top: 50%;
            transform: translateY(-60%);
        }

        .back-title.active {
            height: 40px;
            opacity: 1;
        }

        aside:first-of-type {
            left: 0.5px;
        }

        aside:last-of-type {
            right: -0.5px;
        }
    }
}

main {
    display: flex;
    flex-direction: row;
    background-color: #050609;
    width: 100%;
    .drivers.active,
    .constructors.active,
    .tracks.active {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #3d3d3d;
    }

    .drivers,
    .constructors,
    .tracks {
        display: none;
    }

    .drivers.active,
    .constructors.active {
        ol {
            list-style-type: none;
            counter-reset: counter1;
        }

        ol {
            display: flex;
            flex-direction: column;
            gap: 7.5px;
            padding: 0;

            width: 650px;
            li {
                min-height: 32px;
                padding: 5px 20px;

                counter-increment: counter1;

                display: flex;
                align-items: center;
                justify-content: space-between;

                color: white;

                border-radius: 0 7.5px 7.5px 0;
                div {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    width: 400px;
                    img {
                        height: 28px;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
                div::before {
                    content: counter(counter1) "º";
                    width: 32px;
                    text-align: right;
                    font-weight: bold;
                }
            }

            .bandeira {
                height: 1.5em;
            }

            li.mclaren {
                background-color: #fe800f;
                color: white;
            }

            li.ferrari {
                background-color: #e4051a;
                color: white;
            }

            li.mercedes {
                background-color: #02dbd3;
                color: rgb(61, 61, 61);
            }

            li.red-bull {
                background-color: #0a1c40;
                color: white;
            }

            li.racing-bulls {
                background-color: #1335cd;
                color: white;
            }

            li.williams {
                background-color: #1c93c2;
                color: white;
            }

            li.aston-martin {
                background-color: #016660;
                color: white;
            }

            li.alpine {
                background-color: #f45a7b;
                color: white;
            }

            li.haas {
                background-color: #cdc6c8;
                color: #e4051a;
            }

            li.sauber {
                background-color: #05e305;
                color: black;
            }
        }
    }
}

footer {
    position: relative;
    font-weight: bold;
    font-family: "Titillium Web";
    width: 100%;
    background-color: rgb(13, 16, 23);
    color: rgb(231, 231, 231);
    padding: 30px 30px;
    #center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.1em;
        font-weight: normal;
    }
    > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1.5px solid gray;
        border-bottom: 1.5px solid gray;
        > div,
        > a {
            color: rgb(231, 231, 231);
            transition: color 0.2s;
            cursor: pointer;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 12px;
            > span {
                font-size: 1.3em;
                display: flex;
                align-items: baseline;
                > lower {
                    font-size: 0.7em;
                    margin-left: 3px;
                }
            }
            > a > i {
                color: rgb(231, 231, 231);
                font-size: 1.65em;
                transition: color 0.2s;
                cursor: pointer;
            }
            > a > i:hover {
                color: rgba(231, 231, 231, 0.705);
            }
        }
        > a:hover {
            color: rgba(231, 231, 231, 0.705);
        }
        img {
            width: 96px;
        }
    }
}
